- 
 var data = {
     a: "Madre mia",
     b: "Pero que cojones!"
 }

.background-panel
.container-fluid
    .row
        .col-md-8.full-center
            .card
                .card-body
                    h3.card-title.text-primary  #{data.a} {{title}}, #{data.b}
                    .card-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste vel quia doloribus quo, velit obcaecati ex nulla voluptate nemo, tempore aut atque? Quo laboriosam similique veritatis debitis molestias, assumenda nulla.
